# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Visual Studio Project files
*.sln
*.vcxproj
*.vcxproj.filters
*.vcxproj.user
.vs/

# Makefile
Makefile
*.make

# Ionide (cross platform F# VS Code tools) working folder
.ionide/

# Binary outputs
/bin
/bin-int